.informacoes {
    justify-content: center;
}

#contatos {
    display: block;
    margin-left: 0;
}

#contatos .contato {
    padding-left: 0;
}

.contato {
    padding-top: 20px;
}

#socialmedia {
    display: block;
    margin-right: 0rem;
    margin-left: 20px;
}

#socialmedia .redesocial {
    padding-right: 0;
}

.redesocial {
    padding-top: 20px;
}

.menu-btn img {
    display: block;
    margin-right: 30px;
}

.navegacao img {
    padding-left: 0;
    width: 150px;
}

.navegacao ul {
    position: fixed;
    top: 105px;
    left: 490px;
    margin-right: 2rem;
    height: 50vh;
    width: 50%;
    text-align: center;
    display: none;
}

.navegacao ul.open {
    left: 50%;
    background-color: #201e1f;
    display: inline-block;
    transition: all 0.5s ease;
}

.navegacao ul li {
        display: flex;
        width: 50%;
        margin: 50px 0;
}

.navegacao ul li a {
    padding: 0;
    margin-right: 0;
}

.menu-btn img {
    width: 70px;
}

#menu-grid {
    display: block;
}

#menu-grid div {
    padding: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 0;
}

.eventos {
    display: block;
}

.cardeventos {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
}

.cardeventos h3 {
    background-color: #03a85a;
    border-radius: 2rem;
    color: #eee;
    padding: 5px;
    font-size: 19px;
}

.cardeventos img {
    border-radius: 1rem;
    color: #eee;
    filter: drop-shadow(0px 0px 4px);
}

.cardeventos h6 {
    margin-top: 6px;
    color: #eee;
}

.eventos {
    text-align: center;
}

.eventos img {
    margin-bottom: 10px;
}

/* Noticias */

.noticias {
    max-width: max-content;
}

.noticiapostada {
    display: block;
}

.noticiapostada img {
    width: 350px;
}

.documentario {
    display: block;
    text-align: left;
}

.documentario p {
    padding: 0;
}

.noticiapostada button:hover {
    filter: drop-shadow(0px 0px 4px);
    color: #000;
}

/* POPUP NOTICIAS */

.noticiasdodia a {
    color: #eee;
}

.noticiasdodia button {
    align-self: flex-end;
}

.modalDialog {
    display: block;
    position: fixed;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog h2 {
    margin-top: 10px;
}

.noticiario {
    display: block;
}

.noticiario img {
    position: fixed;
    padding: 0;
    filter: drop-shadow(0px 0px 5px);
    border-radius: 50rem;
    width: 100px;
    align-items: center;
}

.noticiario p {
    background: #04AA6D;
    padding-top: 20px;
    border-radius: 1rem;
    margin-top: 100px;
}

.modalDialog:target {
    opacity: 3;
    pointer-events: auto;
}

.modalDialog > div {
    width: 460px;
    position: absolute;
    margin: 5px;
    padding: 0;
}

.close {
    background: #03a85a;
    color: #eee;
    line-height: 25px;
    position: absolute;
    right: 50px;
    text-align: center;
    top: -10px;
    width: 150px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}  


.close:hover {
    background: #00d9ff;
}